body {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3 {
  font-family: sans-serif;
  margin-top: 1.5em;
}

h1 {
  font-size: 32pt;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: auto;
}

.table {
  margin-bottom: 2em;
}

.table p {
  font-style: italic;
  margin-top: 1px;
}

.company {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
  display:block;
  margin-top: 1em;
  margin-bottom: auto;
}
figure {
  float: right;
  margin: 1em;
  display:table;
  width: 1%;
}

figure img {
  display:block;
  padding:0;
  margin:0;
}
